.app_wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas: "a b c";
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 4fr 4fr;
  grid-gap: 2px;
}

.area1 {
  grid-area: a;
  border: 2px solid red;
}

.area2 {
  grid-area: b;
  border: 2px solid red;
}

.area3 {
  grid-area: c;
  border: 2px solid red;
}
